<!DOCTYPE HTML >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>入库单列表</title>
    <link th:href="@{../default/css/page.css}" rel="stylesheet"/>
    <link th:href="@{../default/css/table.css}" rel="stylesheet"/>
    <link th:href="@{../default/css/input.css}" rel="stylesheet"/>
    <link th:href="@{../jquery_ui/blue2.css}" rel="stylesheet"/>
    <script th:src="@{../js/common/jquery.js}"/>
    <script th:src="@{../js/common/common.js}"/>
    <script th:src="@{../js/common/tree.js}"/>
    <script th:src="@{../js/common/init.js}"/>
    <script th:src="@{../js/common/json2.js}"/>
    <script th:src="@{../js/common/relate.js}"/>

    <script th:src="@{../jquery_ui/jui.js}"/>
    <script th:src="@{../jquery_ui/ui.datepicker-zh-CN.js}"/>
    <script type="text/javascript">
        $(document).ready(function () {
            $("input[name=startDate]").datepicker();
            $("input[name=endDate]").datepicker();

            $("#supplierTypeId").relate($("#supplierId"), true);
            $("#brand").relate($("#mobileTypeId"), true);

        });
    </script>
</head>

<body>
<table border="0" cellspacing="0" cellpadding="0" align="center" width="90%">
    <tr>
        <td class="navTd1"></td>
        <td class="navTd2">供应商业务 >>　手机入库 >> 入库单列表</td>
        <td class="navTd3"></td>
    </tr>
</table>
<form action="../mobileStorage/list" th:object="${mobileStorage}" method="post">
    <table border="0" width="90%" align="center" style="margin-top:10px">
        <tr>
            <td>开始时间</td>
            <td><input class="text" style="width:80px" name="startDate" th:value="${startDate}" readonly="readonly"/>
            </td>
            <td>结束时间</td>
            <td><input class="text" style="width:80px" name="endDate" th:value="${endDate}" readonly="readonly"/></td>
            <td colspan="5"></td>
            <td rowspan="2" align="right">
                <input type="submit" class="btn find" value="查询"/>
                <input type="button" class="btn ok" style="width:90px" value="添加入库"
                       onclick="location='../mobileStorage/toAdd'"/>
            </td>
        </tr>
        <tr>
            <td>供应商类别</td>
            <td>
                <select id="supplierTypeId" name="supplier.supplierType.id" class="text"
                        style="width:80px">
                    <option value="">--不限--</option>
                    <option th:each="supType : ${supplierTypeList}" th:value="${supType.id}"
                            th:text="${supType.name}"></option>
                </select>
            </td>
            <td>供应商</td>
            <td>
                <select id="supplierId" name="supplier.id" class="text" style="width:80px">
                    <option value="">--不限--</option>
                    <option th:each="sup : ${supplierList}" th:primaryKey="${sup.supplierType.id}" th:value="${sup.id}"
                            th:text="${sup.name}"></option>
                </select>
            </td>
            <td>品牌</td>
            <td>
                <select id="brand" name="mobileType.brand" class="text" style="width:80px">
                    <option value="">--不限--</option>
                    <option th:each="brand : ${brandList}" th:value="${brand.name}" th:text="${brand.name}"></option>
                </select>
            </td>
            <td>手机型号</td>
            <td>
                <select id="mobileTypeId" name="mobileType.id" class="text" style="width:80px">
                    <option value="">--不限--</option>
                    <option th:each="mobType : ${mobileTypeList}" th:primaryKey="${mobType.brand}"
                            th:value="${mobType.id}"
                            th:text="${mobType.name}"
                    ></option>
                </select>
            </td>
        </tr>
    </table>
</form>
<table class="table" rowNum="15" width="90%" align="center">
    <tr>
        <th>单据号码</th>
        <th>供应商</th>
        <th>机型</th>
        <th>颜色</th>
        <th>进价</th>
        <th>数量</th>
        <th>总金额</th>
        <th>录入人</th>
        <th>审核人</th>
        <th>状态</th>
        <th>备注</th>
        <th>机构</th>
        <th>操作</th>
    </tr>
    <tr th:each="msi : ${page.dataList}">
        <td th:text="${msi.id}"></td>
        <td th:text="${msi.supplier.name}"></td>
        <td th:text="${msi.mobileType.name}"></td>
        <td th:text="${msi.color}"></td>
        <td th:text="${msi.buyPrice}"></td>
        <td th:text="${msi.amount}"></td>
        <td th:text="${msi.totalMoney}"></td>
        <td th:text="${msi.inputUserName}"></td>
        <td th:text="${msi.checkUserName}"></td>
        <td th:text="${msi.statusName}"></td>
        <td th:text="${msi.remark}"></td>
        <td th:text="${msi.department.name}"></td>
        <td>
            <a href="#">详情</a>
            <span th:if="${msi.status eq 0}">
                <a href="#">修改</a>
                <a th:href="'../mobileStorage/delete?mobileStorageId='+${msi.id}">删除</a>
                <a th:href="'../mobileStorage/check?mobileStorageId='+${msi.id}">审核</a>

            </span>

            <span th:if="${msi.status ne 0}">
                <span style="color:gray">修改</span>
                <span style="color:gray">删除</span>
                <span style="color:gray">审核</span>
            </span>

        </td>
    </tr>
</table>
<input type="hidden" id="page" th:value="${page.pageCode}"/>
</body>
<script>
    //    追加html分页代码
    var pages = $("#page");
    var data = pages.val();
    pages.after(data);
</script>
</html>
