<!DOCTYPE HTML >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>添加入库</title>
    <link th:href="@{../default/css/page.css}" rel="stylesheet"/>
    <link th:href="@{../default/css/table.css}" rel="stylesheet"/>
    <link th:href="@{../default/css/input.css}" rel="stylesheet"/>
    <script th:src="@{../js/common/jquery.js}"/>
    <script th:src="@{../js/common/common.js}"/>
    <script th:src="@{../js/common/tree.js}"/>
    <script th:src="@{../js/common/init.js}"/>
    <script th:src="@{../js/common/json2.js}"/>
    <script th:src="@{../js/common/relate.js}"/>
    <script th:src="@{../js/sup/mobileStorage.js}"/>
    <script type="text/javascript">

        $(function () {
            $("#supplierTypeId").relate($("#supplierId"), false);
            $("#brand").relate($("#mobileTypeId"), false);

            $("#mobileTypeId").change(function () {
                var mobileTypeId = this.value.trim();
                if (mobileTypeId.length == 0) {
                    $("#refPrice").html("请选择机型");
                }

            });
            //手动触发一次change事件，以便于在初始化时加载参考价格
            $("#mobileTypeId").change();


            //选择单双串号
            $(":radio[name='setSn']").click(function () {
                if (this.value == "single") {
                    $("input[name='sn2']").attr("disabled", "disabled");
                    $("input[name='sn2']").css("background-color", "#BCBCBC");
                    $("input[name='sn2']").val("");
                } else {
                    $("input[name='sn2']").removeAttr("disabled");
                    $("input[name='sn2']").css("background-color", "white");
                }
            });

            //绑定keypress事件
            $("input[name='sn1']").keypress(function (e) {
                if (e.keyCode == 13) {
                    if ($(":radio[name='setSn'][checked]").val() == "single") {
                        addSerialNumber();
                    } else {
                        $("input[name='sn2']").focus();
                    }
                }
            });
            $("input[name='sn2']").keypress(function (e) {
                if (e.keyCode == 13) {
                    addSerialNumber();
                }
            });

            $("input[name='buyPrice']").blur(function () {
                var buyPrice = this.value.trim();
                $("input[name='totalMoney']").val($(".order").length * buyPrice);
            });

        })

    </script>
</head>

<body>
<table border="0" cellspacing="0" cellpadding="0" align="center" width="90%">
    <tr>
        <td class="navTd1"></td>
        <td class="navTd2">供应商业务 >>　手机入库 >> 新增入库</td>
        <td class="navTd3"></td>
    </tr>
</table>
<form action="../mobileStorage/add" th:object="${mobileStorage}" method="post">
    <table class="inputTable" width="90%" align="center" style="margin-top:10px">
        <tr>
            <th colspan="4">
                增加手机入库信息
            </th>
            <th>数量</th>
            <th><input type="text" name="amount" value="0" class="text"
                       style="width:100;border:none;background:none;font-weight:bold"
                       maxlength="6" readonly="readonly"/>
            </th>
            <th>总价</th>
            <th><input name="totalMoney" readonly="readonly" class="text"
                       style="width:80px;border:none;background:none;font-weight:bold" value="0"/></th>
        </tr>
        <tr>
            <th>供应商类别</th>
            <td>
                <select id="supplierTypeId" class="text" style="width:100">
                    <option value="">--不限--</option>
                    <option th:each="st : ${supplierTypeList}" th:value="${st.id}" th:text="${st.name}"></option>
                </select>
            </td>
            <th>供应商</th>
            <td>
                <select id="supplierId" name="supplier.id" class="text" style="width:100">
                    <option value="">--不限--</option>
                    <option th:each="sup:${supplierList}" th:primaryKey="${sup.supplierType.id}" th:value="${sup.id}"
                            th:text="${sup.name}">

                    </option>
                </select>
            </td>
            <th>品牌名称</th>
            <td>
                <select id="brand" class="text" style="width:100">
                    <option value="">--不限--</option>
                    <option th:each="brand : ${brandList}" th:value="${brand.name}" th:text="${brand.name}"></option>
                </select>
            </td>
            <th>机型</th>
            <td>
                <select id="mobileTypeId" name="mobileType.id" class="text" style="width:100">
                    <option th:each="mobType : ${mobileTypeList}" th:primaryKey="${mobType.brand}"
                            th:value="${mobType.id}" th:text="${mobType.name}">
                    </option>
                </select>
            </td>
        </tr>

        <tr>
            <th>配置</th>
            <td>
                <select name="config" class="text" style="width:100">
                    <option value="">--无--</option>
                    <option th:each="con : ${configList}" th:value="${con.name}" th:text="${con.name}"></option>
                </select>
            </td>
            <th>进价</th>
            <td>
                <input type="text" name="buyPrice" value="" class="text" style="width:100"
                       maxlength="8"/>
            </td>
            <th>参考价</th>
            <td>
                <span style="font-weight:bold" id="refPrice"></span>
            </td>
            <th>
                颜色
            </th>
            <td>
                <select name="color" class="text" style="width:100">
                    <option th:each="color:${colorList }" th:value="${color.name}" th:text="${color.name}"></option>
                </select>
            </td>

        </tr>
        <tr>
            <th>
                备注
            </th>
            <td colspan="7">
                <textarea rows="2" cols="82" name="remark"></textarea>
            </td>
        </tr>
    </table>
    <table id="tblSns" class="table" width="90%" align="center" style="margin-top:10px">
        <tr>
            <th align="center" width="50">
                序号
            </th>
            <th width="300">
                串号一
            </th>
            <th width="300">
                串号二
            </th>
            <th>
                操作
            </th>
        </tr>
    </table>
    <table align="center" width="90%" class="inputTable" style="border-top:none">
        <tr>
            <th width="245">
                <input type="radio" name="setSn" checked="checked" value="single"/>
                单串号

                <input type="radio" name="setSn" value="double"/>
                双串号

            </th>
            <th width="50">
                串号一
            </th>
            <th width="220">
                <input type="text" name="sn1" value="" class="text" maxlength="30"/>
            </th>
            <th width="50">
                串号二
            </th>
            <th>
                <input type="text" name="sn2" value="" class="text" maxlength="30" disabled="disabled"
                       style="background-color:#BCBCBC"/>
            </th>
            <th align="center">
                <input type="button" value="添加" class="btn ok" onclick="addSerialNumber();"/>
            </th>
        </tr>
    </table>
    <br/>
    <div align="center">
        <input type="submit" name="but1" value="保存" onclick="return check();" class="btn ok"/>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" name="but2" value="返回" class="btn cancel"
               onclick="location='../mobileStorage/list'"/>
    </div>
</form>

</body>
</html>
