<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>编辑类别</title>
    <link th:href="@{../default/css/page.css}" rel="stylesheet"/>
    <link th:href="@{../default/css/table.css}" rel="stylesheet"/>
    <link th:href="@{../default/css/input.css}" rel="stylesheet"/>
    <script th:src="@{../js/common/jquery.js}"/>
    <script th:src="@{../js/common/common.js}"/>
    <script th:src="@{../js/common/tree.js}"/>
    <script th:src="@{../js/common/init.js}"/>
    <script th:src="@{../js/common/json2.js}"/>
    <script th:src="@{../js/common/relate.js}"/>
    <script th:src="@{../js/basic/supplierType.js}"/>
</head>

<body>
<table border="0" cellspacing="0" cellpadding="0" align="center" width="90%">
    <tr>
        <td class="navTd1"></td>
        <td class="navTd2">基础设置 >>　供应商类别管理 >> 编辑类别</td>
        <td class="navTd3"></td>
    </tr>
</table>
<form action="../supplierType/edit" method="post" th:object="${supplierType}" onsubmit="return checkFrm();">
    <table width="500" align="center" style="margin-top:30px" class="inputTable">
        <tr>
            <th>类别编号：</th>
            <td><input type="text" readonly="readonly" name="id" th:value="${supplierType.id}"/></td>
        </tr>
        <tr>
            <th>类别名称：</th>
            <td><input class="text" name="name" th:value="${supplierType.name}"/></td>
        </tr>
        <tr>
            <th>备注：</th>
            <td><textarea class="text" name="remark"
                          style="width:300px;height:46px" th:text="${supplierType.remark}"></textarea></td>
        </tr>

    </table>
    <table border="0" width="500" align="center" style="margin-top:20px">
        <tr>
            <td align="center">
                <input type="submit" class="btn ok" value="确定"/>
                <input type="button" class="btn cancel" value="取消"
                       onclick="location='../supplierType/list'"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
