<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctsig.mobilescm.dao.supplier.MobileReturnDao">
	
	<resultMap id="mrResult" type="MobileReturn" >
	    <id column="id" property="id"/>
	    <result column="returnPrice" property="returnPrice"/>
	    <result column="amount" property="amount"/>
	    <result column="totalMoney" property="totalMoney"/>
	    <result column="remark" property="remark"/>
	    <result column="inputDate" property="inputDate"/>
	    <result column="inputUserId" property="inputUserId"/>
	    <result property="inputUserName" column="inputUserName"/>
	    <result column="checkDate" property="checkDate"/>
	    <result column="checkUserId" property="checkUserId"/>
	    <result property="checkUserName" column="checkUserName"/>
	    <result column="status" property="status"/>
	    
	    <association property="supplier" column="supplierId" javaType="Supplier">
			<id property="id" column="sup_id"/>
			<result property="name" column="sup_name"/>
		</association>
		<association property="mobileType" column="mobileTypeId" javaType="MobileType">
			<id property="id" column="mt_id"/>
			<result property="name" column="mt_name"/>
		</association>
		<association property="department" column="departmentId" javaType="Department">
			<id property="id" column="dt_id"/>
			<result property="name" column="dt_name"/>
		</association>
	</resultMap>
	
	<select id="queryList" resultMap="mrResult">
		SELECT
			mr.*,
			sup.id AS sup_id,
			sup.name AS sup_name,
			mt.id AS mt_id,
			mt.name AS mt_name,
			dt.id AS dt_id,
			dt.name AS dt_name,
			e1.name AS inputUserName,
			e2.name AS checkUserName
		FROM supplier_mobileReturn mr
		LEFT JOIN basic_supplier sup ON mr.supplierId=sup.id
		LEFT JOIN basic_mobileType mt ON mr.mobileTypeId=mt.id
		LEFT JOIN department dt ON mr.departmentId=dt.id
		LEFT JOIN employee e1 ON mr.inputUserId=e1.userId
		LEFT JOIN employee e2 ON mr.checkUserId=e2.userId
		<if test="params.numberOne != null">
			LEFT JOIN supplier_mobileReturnNumber mrn ON mr.id=mrn.mobileReturnId
		</if>
		<where>
			<if test="params.id != null">
				mr.id=#{params.id}
			</if>
			<if test="params.supplierId != null">
				AND mr.supplierId=#{params.supplierId}
			</if>
			<if test="params.supplierTypeId != null">
				AND mr.supplierId IN (SELECT id FROM basic_supplier WHERE supplierTypeId=#{params.supplierTypeId})
			</if>
			<if test="params.mobileTypeId != null">
				AND mr.mobileTypeId=#{params.mobileTypeId}
			</if>
			<if test="params.brand != null">
				AND mr.mobileTypeId IN (SELECT id FROM basic_mobileType WHERE brand=#{params.brand})
			</if>
			<if test="params.startDate != null">
				AND mr.inputDate BETWEEN #{params.startDate} AND #{params.endDate}
			</if>
			<if test="params.queryScopeList != null">
				AND mr.departmentId IN 
				<foreach open="(" close=")" separator="," collection="params.queryScopeList" item="departmentId">
					#{departmentId}
				</foreach>
			</if>
			<if test="params.numberOne != null">
				AND mrn.numberOne=#{params.numberOne}
			</if>
		</where>
		ORDER BY mr.inputDate DESC
		<if test="params.start != null">
			LIMIT #{params.start},#{params.size}
		</if>
	</select>
	
	<select id="queryCount" resultType="int">
		SELECT COUNT(id) FROM supplier_mobileReturn mr
		<where>
			<if test="params.supplierId != null">
				AND mr.supplierId=#{params.supplierId}
			</if>
			<if test="params.supplierTypeId != null">
				AND mr.supplierId IN (SELECT id FROM basic_supplier WHERE supplierTypeId=#{params.supplierTypeId})
			</if>
			<if test="params.mobileTypeId != null">
				AND mr.mobileTypeId=#{params.mobileTypeId}
			</if>
			<if test="params.brand != null">
				AND mr.mobileTypeId IN (SELECT id FROM basic_mobileType WHERE brand=#{params.brand})
			</if>
			<if test="params.startDate != null">
				AND mr.inputDate BETWEEN #{params.startDate} AND #{params.endDate}
			</if>
			<if test="params.queryScopeList != null">
				AND mr.departmentId IN 
				<foreach open="(" close=")" separator="," collection="params.queryScopeList" item="departmentId">
					#{departmentId}
				</foreach>
			</if>
		</where>
	</select>
	
	<update id="edit">
		UPDATE supplier_mobileReturn
		<set>
			<if test="params.checkUserId != null">checkUserId=#{params.checkUserId},</if>
			<if test="params.checkDate != null">checkDate=#{params.checkDate},</if>
			<if test="params.status != null">status=#{params.status},</if>
		</set>
		<where>
			<if test="params.id != null">
				AND id=#{params.id}
			</if>
		</where>
	</update>	
	
	<insert id="add">
		INSERT INTO supplier_mobileReturn VALUES
		(
			#{mobileReturn.id},#{mobileReturn.supplier.id},#{mobileReturn.mobileType.id}, #{mobileReturn.returnPrice},#{mobileReturn.amount},
			#{mobileReturn.totalMoney},#{mobileReturn.remark},#{mobileReturn.inputDate},#{mobileReturn.inputUserId}, null,null,#{mobileReturn.status},
			(SELECT departmentId FROM employee WHERE userId=#{mobileReturn.inputUserId})
		)
	</insert>
	
	<insert id="addMobileReturnNumber">
		INSERT INTO supplier_mobileReturnNumber VALUES
		<foreach separator="," item="map" collection="serialNumberList">
			(#{map.id},#{map.mobileReturnId},#{map.numberOne},#{map.numberTwo})
		</foreach>
	</insert>
	
</mapper> 