<!DOCTYPE HTML >
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>修改密码</title>
    <link th:href="@{../default/css/page.css}" rel="stylesheet"/>
    <link th:href="@{../default/css/table.css}" rel="stylesheet"/>
    <link th:href="@{../default/css/input.css}" rel="stylesheet"/>
    <script th:src="@{../js/common/jquery.js}"/>
    <script th:src="@{../js/common/common.js}"/>
    <script th:src="@{../js/common/tree.js}"/>
    <script th:src="@{../js/common/init.js}"/>
    <script th:src="@{../js/common/json2.js}"/>
    <script th:src="@{../js/common/relate.js}"/>
     <script type="text/javascript">

    </script>
  </head>
  
  <body>
  <table border="0" cellspacing="0" cellpadding="0" align="center" width="90%">
    <tr>
      <td class="navTd1"></td>
      <td class="navTd2">系统管理 >>　修改密码</td>
      <td class="navTd3"></td>
    </tr>
  </table>
    <form id="frm" method="post" action="../user/modifyPasswd" th:object="${user}" onsubmit="">
      <table width="500" align="center" style="margin-top:30px" class="inputTable">
        <tr>
          <th>原密码：</th>
          <td>
          	<input class="text" type="password" name="oldPass"/>
          </td>
        </tr>
        <tr>
          <th>新密码：</th>
          <td>
          	<input class="text" type="password" name="password"/>
          	<input type="hidden" name="id" th:value="${session.loginUser.id}"/>
          </td>
        </tr>
        <tr>
          <th>确认新密码：</th>
          <td><input class="text" type="password" name="reNewPass"/></td>
        </tr>
      </table>
      <table border="0" width="500" align="center" style="margin-top:20px">
        <tr><td align="center">
          <input type="submit" class="btn ok" id="modifyPassword" value="确定" />
        </td></tr>
      </table>
    </form>    
  </body>
</html>
