<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>菜单管理</title>
    <link th:href="@{../default/css/page.css}" rel="stylesheet"/>
    <link th:href="@{../default/css/table.css}" rel="stylesheet"/>
    <link th:href="@{../default/css/input.css}" rel="stylesheet"/>
    <script th:src="@{../js/common/jquery.js}"/>
    <script th:src="@{../js/common/common.js}"/>
    <script th:src="@{../js/common/tree.js}"/>
    <script th:src="@{../js/common/init.js}"/>
    <script th:src="@{../js/common/json2.js}"/>
    <script th:src="@{../js/common/relate.js}"/>

    <script th:src="@{../js/dev/menu.js}"/>
</head>

<body>
<table border="0" cellspacing="0" cellpadding="0" align="center" width="500">
    <tr>
        <td class="navTd1"></td>
        <td class="navTd2">菜单管理 >> 添加菜单</td>
        <td class="navTd3"></td>
    </tr>
</table>
<form id="menuAddForm">
    <table width="500" align="center" class="inputTable" style="margin-top:15px">
        <tr>
            <th>父菜单：</th>
            <td>
                <span th:text="${menu.name}"></span>
                <input type="hidden" name="menuParentId" th:value="${menu.id}"/>
            </td>
        </tr>
        <tr>
            <th>菜单名：</th>
            <td><input name="menuName" class="text"/></td>
        </tr>
        <tr>
            <th>菜单类型：</th>
            <td>
                <select class="text" onchange="showHideActionRow(this);" name="menuType">
                    <option th:each="menuType : ${session.menuTypeMap}" th:value="${menuType.key}"
                            th:text="${menuType.value}"></option>
                </select>
            </td>
        </tr>
        <tr id="actionRow" style="display:none">
            <th>菜单动作</th>
            <td><input name="menuActionName" class="text"/></td>
        </tr>
        <tr>
            <th>菜单说明</th>
            <td><textarea name="menuRemark" class="text" style="width:300px;height:56px"></textarea></td>
        </tr>
    </table>
    <table width="500" align="center" style="margin-top:15px">
        <tr>
            <td align="center">

                <input type="button" class="btn ok" value="确定" onclick="submitMenuAddForm()"/>
                <input type="button" class="btn cancel" value="取消"
                       onclick="cans()"/>
                <input type="hidden" name="cancel" th:value="${menu.id}+'&amp;menuType='+${menu.type}"/>
            </td>
        </tr>
    </table>
</form>
</body>

</html>
