<!DOCTYPE HTML>
<html>
<head>
    <style type="text/css">
        body {
            background-color: #ffffff;
        }

        .message {
            background-image: url(../default/images/welcome_messback.png);
            background-repeat: no-repeat;
        }
    </style>
</head>

<body style="align-content: center;text-align: center">
<h1 style="color: cadetblue">欢迎来到手机SCM管理系统</h1>
<div class="message" style="margin-left:auto; margin-right:auto;width: 580px;
            height: 400px;"></div>
</body>
</html>
