<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctsig.mobilescm.dao.basic.CustomerTypeDao">

    <select id="queryList" resultType="CustomerType">
        SELECT * FROM basic_customerType
        <where>
            <if test="params.id != null">
                id=#{params.id}
            </if>
        </where>
    </select>

    <insert id="add">
		INSERT INTO basic_customerType VALUES(#{customerType.id},#{customerType.name},#{customerType.remark})
	</insert>

    <update id="edit">
        UPDATE basic_customerType
        <set>
            <if test="customerType.name != null">name=#{customerType.name},</if>
            <if test="customerType.remark != null">remark=#{customerType.remark},</if>
        </set>
        WHERE id=#{customerType.id}
    </update>

    <delete id="delete">
		DELETE FROM basic_customerType WHERE id=#{customerType.id}
	</delete>


</mapper> 